<html>
<head>
</head>

<body>
uid: {{uid}}<br>
upload csv below:<br>
<form action="{{ url_dict.url }}" method="POST" enctype="multipart/form-data">
  {% for key, value in url_dict.fields.items() %}
  <input type="hidden" name="{{ key }}" value="{{ value }}" />
  {% endfor %}
  <input type="file"   name="file" /> <br />
  <input type="submit" name="submit" value="Upload" />
</form>
<br>
<a href="{{ url_for('completed',uid) }}">click-this-upload-to-view-file</a>
<br><br>
<!--
curl -v {% for key, value in url_dict.fields.items() %} -F {{key}}={{value}}{% endfor %} -F file=@myfile {{url_dict.url}}
-->

</body>
</html>


<!--

File:
<input type="file"   name="file" /> <br />
<input type="submit" name="submit" value="Upload to Amazon S3" />
<form action="{{ url_dict.url }}" class="dropzone" id="my-dropzone" method="POST" enctype="multipart/form-data">



<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.css') }}"> 
  <script src="{{ url_for('static', filename='dropzone-amd-module.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>

<body>
uid: {{uid}}
<form action="{{ url_dict.url }}" class="dropzone" id="my-dropzone" method="POST" enctype="multipart/form-data">
  {% for key, value in url_dict.fields.items() %}
  <input type="hidden" name="{{ key }}" value="{{ value }}" />
  {% endfor %}
</form>


<script>
  Dropzone.autoDiscover = false;
  $(function() {
    var myDropzone = new Dropzone("#my-dropzone");
    myDropzone.on("queuecomplete", function(file) {
      // Called when all files in the queue finish uploading.
      window.location = "{{ url_for('completed',uid=uid) }}";
    });
  })
</script>
-->


